# Installations & Setup

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import os
GOOGLE_DRIVE_PATH_AFTER_MYDRIVE = "Github"
GOOGLE_DRIVE_PATH = os.path.join('drive', 'My Drive', GOOGLE_DRIVE_PATH_AFTER_MYDRIVE)
print(os.listdir(GOOGLE_DRIVE_PATH))

Mounted at /content/drive
['NYC-Restaurant-Inspection-Database']

In [3]:
import sys
sys.path.append(GOOGLE_DRIVE_PATH)
import time, os
os.environ["TZ"] = "US/Eastern"
time.tzset()

## Install packages

In [ ]:
!pip install icecream
!pip install names
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql # SQL magic function

# Github Control Setup

## Redirect to root folder (Necessary when starting Colab runtime)

In [5]:
%cd /content/drive/MyDrive/Github/

/content/drive/MyDrive/Github

## Only run once upon initializing Colab runtime

### Xiaoyang Song

In [6]:
username = "Xiaoyang-Song"
repository = "NYC-Restaurant-Inspection-Database"
git_token = "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"

### Han Liu

In [7]:
# username = "Xiaoyang-Song"
# repository = "NYC-Restaurant-Inspection-Database"
# git_token = "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"

### Connect to Github

In [8]:
!git clone https://{git_token}@github.com/{username}/{repository}

fatal: destination path 'NYC-Restaurant-Inspection-Database' already exists and is not an empty directory.

## Run to direct to Git Repo

In [9]:
%cd {repository}

/content/drive/MyDrive/Github/NYC-Restaurant-Inspection-Database

In [10]:
%ls -a

 4111p1.ipynb      .git/                'Proposal Final Draft.pdf'   utils.py
 Data/             .gitignore            __pycache__/
 .DS_Store         .ipynb_checkpoints/   README.md
 extract_data.py   p1.SQL                users.py

In [11]:
!git config --global user.email "xs2485@columbia.edu"

In [221]:
!git pull

remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 5 (delta 2), reused 5 (delta 2), pack-reused 0
Unpacking objects: 100% (5/5), done.
From https://github.com/Xiaoyang-Song/NYC-Restaurant-Inspection-Database
   cb6c174..0905061  main       -> origin/main
Updating cb6c174..0905061
Fast-forward
 .DS_Store                                             | Bin 8196 -> 8196 bytes
 Report/COMS W 4111 Progress Report.pdf                | Bin 0 -> 188805 bytes
 .../Proposal Final Draft.pdf                          | Bin
 3 files changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 Report/COMS W 4111 Progress Report.pdf
 rename Proposal Final Draft.pdf => Report/Proposal Final Draft.pdf (100%)

## Commit Message

In [222]:
commit_message = "Update: Latest notebook update"

## Run to commit

In [223]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   4111p1.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [224]:
!git add .

In [225]:
!git commit -m "{commit_message}"

[main 94572c8] Update: Latest notebook update
 1 file changed, 1 insertion(+), 1 deletion(-)

## Push

In [226]:
!git push

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 708 bytes | 354.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/Xiaoyang-Song/NYC-Restaurant-Inspection-Database
   0905061..94572c8  main -> main

# 4111 Project 1

## Connect to DBMS

### Load and connect

In [6]:
%load_ext sql

In [7]:
%sql postgresql://xs2485:Sxy20000425@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

In [9]:
# change your password
# %%sql ALTER ROLE xs2485 
# WITH PASSWORD 'Sxy20000425';

In [10]:
from sqlalchemy import create_engine
db = create_engine("postgresql://xs2485:Sxy20000425@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2")
connection = db.connect()  # first connect to the database

In [3]:
cursor = connection.execute("select 1")  # run a query.  it does not return the actual rows.  it returns a cursor
rows = cursor.fetchall()  # ask cursor to give us all the result rows
print(rows)

[(1,)]

### Sample Code

In [18]:
# create table
%%sql CREATE TABLE R (
    A int,
    B int
);
INSERT INTO R VALUES (1,2);
INSERT INTO R VALUES (3,4);

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
1 rows affected.
1 rows affected.

[]

In [19]:
# see table R
%sql SELECT * FROM R;

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
2 rows affected.

[(1, 2), (3, 4)]

In [20]:
# see all the tables you have
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='xs2485'

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
13 rows affected.

[('xs2485', 'reviews_post_own', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locations', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locates', 'xs2485', None, True, False, True, False),
 ('xs2485', 'users', 'xs2485', None, True, False, True, False),
 ('xs2485', 'feel', 'xs2485', None, True, False, True, False),
 ('xs2485', 'grade', 'xs2485', None, True, False, True, False),
 ('xs2485', 'graded', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspection', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspect', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violation', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violate', 'xs2485', None, True, False, True, False),
 ('xs2485', 'restaurant', 'xs2485', None, True, False, True, False),
 ('xs2485', 'r', 'xs2485', None, False, False, False, False)]

In [21]:
# drop table
%sql DROP TABLE R;

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

## Create Tables

In [160]:
%%sql
--DROP TABLE 
DROP TABLE IF EXISTS Graded, Grade, Feel, Violate, Violation, Inspect, Inspection, 
           Reviews_Post_Own, Users, Restaurant, Locations;
CREATE TABLE IF NOT EXISTS Users(
    userid serial PRIMARY KEY,
    account_name text NOT NULL,
    passcode text NOT NULL,
    dob date,
    district text,
    CHECK (
        district IN ('Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island')
    )
);

-- Entity: Locations
CREATE TABLE IF NOT EXISTS Locations(
    lid serial PRIMARY KEY,
    district text,
    zipcode VARCHAR(5),
    street text,
    building text,
    CHECK (
        district IN ('Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island')
    )
);
CREATE TABLE IF NOT EXISTS Restaurant(
    rid serial PRIMARY KEY,
    DBA text NOT NULL, -- DBA stands for "Doing Business As" (Acronym)
    phone_number VARCHAR(10), 
    cuisine text,
    lid int NOT NULL,
    FOREIGN KEY (lid) REFERENCES Locations
);

-- Entity: Grade
CREATE TABLE IF NOT EXISTS Grade(
    gid serial PRIMARY KEY,
    grade CHAR(1) NOT NULL,
    score float,
    CHECK (
        grade in ('A', 'B', 'C', 'P', 'N', 'Z')
    )
);
-- Entity: Inspection
CREATE TABLE IF NOT EXISTS Inspection(
    iid serial PRIMARY KEY,
    i_type text
);

-- Entity: Violation
CREATE TABLE IF NOT EXISTS Violation(
    vid serial PRIMARY KEY,
    code text,
    v_description text,
    critical_flag text,
    CHECK (
        critical_flag IN ('Critical', 'Not Critical', 'Not Applicable')
    )
);

-- Combine relationship sets and entity sets to model weak entity
CREATE TABLE IF NOT EXISTS Reviews_Post_Own(
    rev_id serial PRIMARY KEY,
    content text NOT NULL,
    post_time DATE,
    userid int NOT NULL,
    rid int NOT NULL,
    FOREIGN KEY (userid) REFERENCES Users ON DELETE CASCADE,
    FOREIGN KEY (rid) REFERENCES Restaurant ON DELETE CASCADE
);

-- Relationship sets: note that when translating to relational schema
-- We combine Like and Dislike into Feel to make things more efficient
CREATE TABLE IF NOT EXISTS Feel(
    userid int NOT NULL,
    rid int NOT NULL,
    feel text NOT NULL,
    PRIMARY KEY (userid, rid),
    FOREIGN KEY (userid) REFERENCES Users,
    FOREIGN KEY (rid) REFERENCES Restaurant,
    CHECK (
        feel IN ('Like', 'Dislike')
    )
);

-- Relationship set: Graded
CREATE TABLE IF NOT EXISTS Graded(
    rid int NOT NULL,
    gid int NOT NULL,
    g_time DATE NOT NULL,
    PRIMARY KEY (rid, gid, g_time),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (gid) REFERENCES Grade
);

-- Relationship Set: Inspect
CREATE TABLE IF NOT EXISTS Inspect(
    rid int NOT NULL,
    iid int NOT NULL,
    i_time DATE NOT NULL,
    PRIMARY KEY (rid, iid, i_time),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (iid) REFERENCES Inspection
);

-- Relationship Set: Violate
CREATE TABLE IF NOT EXISTS Violate(
    rid int NOT NULL,
    vid int NOT NULL,
    v_time DATE NOT NULL,
    PRIMARY KEY (rid, vid, v_time),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (vid) REFERENCES Violation
);

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Check content

In [11]:
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='xs2485'

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
11 rows affected.

[('xs2485', 'users', 'xs2485', None, True, False, True, False),
 ('xs2485', 'restaurant', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locations', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violation', 'xs2485', None, True, False, True, False),
 ('xs2485', 'reviews_post_own', 'xs2485', None, True, False, True, False),
 ('xs2485', 'feel', 'xs2485', None, True, False, True, False),
 ('xs2485', 'grade', 'xs2485', None, True, False, True, False),
 ('xs2485', 'graded', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspection', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspect', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violate', 'xs2485', None, True, False, True, False)]

# Extract data and insert into database

## Examples

In [ ]:
%%sql
delete from restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[]

In [ ]:
%%sql
select * 
from Restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
0 rows affected.

[]

In [ ]:
example = 'hello'
command = f"insert into restaurant(rid, dba, phone_number, cuisine) values (3,'{example}', null, null)"
cursor = connection.execute(command)

In [ ]:
%%sql
select * 
from restaurant
where dba='hello' and rid=3

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(3, 'hello', None, None)]

## Extraction

### Test cases

In [92]:
from users import *
ac_name = 'Example'
passcode = 'passcode'
dob = '01/24/2000'
district = 'Manhattan'
add_user(connection, ac_name, passcode, dob, district)

In [93]:
%%sql
select * 
from users

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(1, 'Example', 'passcode', datetime.date(2000, 1, 24), 'Manhattan')]

In [ ]:
add_feel(connection, 7, [1,2], ['Like', 'Dislike'])

In [ ]:
%%sql
select * 
from feel

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
2 rows affected.

[(7, 1, 'Like'), (7, 2, 'Dislike')]

In [ ]:
%%sql
insert into users(account_name, passcode) values ('hello_name', 'passcode')

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[]

### Delete all

In [147]:
%%sql
delete from Users *;
delete from Inspect *;
delete from Inspection *;
delete from Violate *;
delete from Violation *;
delete from Graded *;
delete from Grade *;
delete from restaurant *;
delete from locations *;

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
40 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Git pull

In [ ]:
!git pull

remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 5 (delta 4), reused 5 (delta 4), pack-reused 0
Unpacking objects: 100% (5/5), done.
From https://github.com/Xiaoyang-Song/NYC-Restaurant-Inspection-Database
   ab21196..3a3a588  main       -> origin/main
Updating ab21196..3a3a588
Fast-forward
 p1.SQL   | 1 +
 users.py | 8 ++++++++
 utils.py | 5 ++++-
 3 files changed, 13 insertions(+), 1 deletion(-)

### Extraction and Insertion

In [161]:
# Data Extraction
from utils import *
from extract_data import *
import pandas as pd

path = '../NYC-Restaurant-Inspection-Database/Data/data.csv'
df = preprocess(path)
df = df.head(100)

In [162]:
from collections import Counter
# Populating Database
nrows, ncols = df.shape
ic(f"Total {nrows} records with {ncols} columns.")
 # Extract columns
R = extract(df, 'Restaurant', 3, ['Unknown', 'NULL', 'No descriptions are provided.'])
L = extract(df, 'Location', 4, ['NULL'] * 4)
G = extract(df, 'Grades', 2, ['NULL']*2)
GR = extract(df, 'Graded', 1, ['NULL'])
V = extract(df, 'Violation', 3, ['NULL']*3)
I = extract(df, 'Inspection', 1, ['Unknown Inspection Type'])
IR = extract(df, 'Inspect', 1, ['NULL'])
# get_info(df, 'Inspect', 1, [True])
# get_info(df, 'Violation', 3, [False, True, False])
# get_info(df, 'Graded', 1, [True])
# Get R phone_number info
# ic(Counter([len(num) for num in R[:,1]]))

ic| f"Total {nrows} records with {ncols} columns.": 'Total 100 records with 27 columns.'
ic| relation_name: 'Restaurant'
ic| f'{sum(mask)} rows have no {colname[i]}.': '15 rows have no DBA.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no PHONE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '36 rows have no CUISINE DESCRIPTION.'
ic| relation_name: 'Location'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no BORO.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '1 rows have no BUILDING.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '1 rows have no STREET.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '2 rows have no ZIPCODE.'
ic| relation_name: 'Grades'
ic| f'{sum(mask)} rows have no {colname[i]}.': '40 rows have no SCORE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '68 rows have no GRADE.'
ic| relation_name: 'Graded'
ic| f'{sum(mask)} rows have no {colname[i]}.': '69 rows have no GRADE DATE.'
ic| relation_name: 'Violation'
ic| f'{sum(mask)} rows have no {colname[i]}.': '38 rows have no VIOLATION CODE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '38 rows have no VIOLATION DESCRIPTION.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no CRITICAL FLAG.'
ic| relation_name: 'Inspection'
ic| f'{sum(mask)} rows have no {colname[i]}.': '36 rows have no INSPECTION TYPE.'
ic| relation_name: 'Inspect'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no INSPECTION DATE.'

In [163]:
GRADE_DICT = {}
V_DICT = {}
I_DICT = {}
# Insert into tables
for i in range(nrows):

  # Entity: Location
  l_boro, l_bd, l_st, l_zip = L[i]
  # TODO: Check district in district_set
  if l_boro not in LOCATION_SET:
    continue
  l_cmd = f"INSERT INTO locations(lid, district, zipcode,street, building) values ({i},'{l_boro}', {l_zip}, '{l_st}', '{l_bd}')"
  cursor = connection.execute(l_cmd)

  # Entity: Restaurant
  r_dba, r_num, r_cuisine = R[i]
  # Replace all single quote with double quote escape character
  r_dba = np.char.replace(r_dba, '\'', '\"')
  r_cuisine = np.char.replace(r_cuisine, '\'', '\"')
  r_num = np.char.replace(r_num, '_', '').item()
  # Parse and filter out invalid phone number
  r_num = r_num if len(r_num) == 10 else 'NULL'
  r_cmd = f"INSERT INTO restaurant(rid, dba, phone_number, cuisine, lid) values ({i},'{r_dba}', {r_num}, '{r_cuisine}', {i})"
  cursor = connection.execute(r_cmd)

  # Entity: Grades
  # Relationship: Graded
  gr_date = GR[i].item()
  if gr_date != 'NULL':
    g_score, g_grade = G[i]
    if g_score != 'NULL' or g_grade != 'NULL':
      if (g_score, g_grade) in GRADE_DICT:
        gid = GRADE_DICT[(g_score, g_grade)]
      else:
        gid = i
        GRADE_DICT[(g_score, g_grade)] = gid
        g_grade = 'N' if g_grade == 'NULL' else g_grade
        g_cmd = f"INSERT INTO Grade(gid, grade, score) values ({gid}, '{g_grade}', {g_score})"
        cursor = connection.execute(g_cmd)

      gr_cmd = f"INSERT INTO Graded(rid, gid, g_time) values ({i}, {gid}, '{gr_date}')"
      cursor = connection.execute(gr_cmd)

  # Entity: Inspection
  # Relationship: Inspect
  i_type = I[i].item()
  if i_type in I_DICT:
    iid = I_DICT[i_type]
  else:
    iid = i
    I_DICT[i_type] = iid
    i_cmd = f"INSERT INTO Inspection Values ({iid}, '{i_type}')"
    cursor = connection.execute(i_cmd)
  i_date = IR[i].item()
  ir_cmd = f"INSERT INTO Inspect(rid, iid, i_time) values({i},{iid},'{i_date}')"
  cursor = connection.execute(ir_cmd)

  # Entity: Violation
  # Relationship: Violate
  v_code, v_desc, v_flag = V[i]
  if v_flag != 'Not Applicable':
    if (v_code, v_desc, v_flag) in V_DICT:
      vid = V_DICT[(v_code, v_desc, v_flag)]
    else:
      vid = i
      V_DICT[(v_code, v_desc, v_flag)] = vid
      v_desc = np.char.replace(v_desc, '\'', '\"')
      v_cmd = f"INSERT INTO Violation(vid, code, v_description, critical_flag) "\
               f"values ({vid}, '{v_code}', '{v_desc}', '{v_flag}')"
      cursor = connection.execute(v_cmd)
    # Insert Violate
    vr_cmd = f"INSERT INTO Violate(rid, vid, v_time) values ({i}, {vid}, '{i_date}')"
    cursor = connection.execute(vr_cmd)

## Test cases & Examples

In [118]:
%%sql
--insert into Inspect values (1, 1, '02/22/2024');
--insert into Violate values (1,1, '04/23/2024');
--select I.i_type, R.dba, V.code, R.rid, I.iid, V.vid, IR.i_time, VR.v_time
select I.i_type, count(*)
from Restaurant as R, Inspection as I, Violation as V, inspect as IR, violate as VR
WHERE R.rid = VR.rid AND V.vid = VR.vid AND IR.rid = R.rid AND IR.iid = I.iid AND VR.v_time = IR.i_time
group by I.i_type

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
6 rows affected.

[('Administrative Miscellaneous / Initial Inspection', 3),
 ('Cycle Inspection / Initial Inspection', 34),
 ('Cycle Inspection / Re-inspection', 16),
 ('Pre-permit (Non-operational) / Re-inspection', 1),
 ('Pre-permit (Operational) / Initial Inspection', 5),
 ('Pre-permit (Operational) / Re-inspection', 3)]

In [125]:
%%sql
select I.i_type, count(*) as count
from inspection as I, inspect as IR, restaurant as R
where I.iid = IR.iid AND R.rid = IR.rid
Group by I.i_type
HAVING COUNT(*) > 2
ORDER BY count(*) DESC

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
6 rows affected.

[('Unknown Inspection Type', 35),
 ('Cycle Inspection / Initial Inspection', 35),
 ('Cycle Inspection / Re-inspection', 16),
 ('Pre-permit (Operational) / Initial Inspection', 5),
 ('Administrative Miscellaneous / Initial Inspection', 3),
 ('Pre-permit (Operational) / Re-inspection', 3)]

In [120]:
%%sql
select *
from inspection as I

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
8 rows affected.

[(0, 'Unknown Inspection Type'),
 (1, 'Cycle Inspection / Initial Inspection'),
 (9, 'Cycle Inspection / Re-inspection'),
 (17, 'Pre-permit (Operational) / Initial Inspection'),
 (24, 'Pre-permit (Non-operational) / Re-inspection'),
 (27, 'Smoke-Free Air Act / Initial Inspection'),
 (31, 'Pre-permit (Operational) / Re-inspection'),
 (44, 'Administrative Miscellaneous / Initial Inspection')]

# User-Database Interaction Examples


In this demo, we manually create several users and their attitudes (i.e. Like or Dislike) to some restaurants. Furthermore, we will also create some example reviews for some restaurants which are written by users.

## Create 10 demo users

In [165]:
from users import *
import names
n = 10
# Just toy examples using np.random library
def random_passcode():
  return [str(i) for i in np.random.randint(0,10,np.random.randint(5,10))]

# Randomly generate some users
for i in range(n):
  add_user(connection, 
           f"{names.get_full_name()}", # Get random names
           f"{''.join(random_passcode())}", # Get random passcode
           dob=f"{np.random.randint(1,13)}/{np.random.randint(1,31)}/{np.random.randint(1900, 2010)}",
           district=f"{LOCATION_SET[np.random.choice(5)]}")

In [166]:
%%sql
SELECT *
FROM Users

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[(1, 'Susan Krause', '25389259', datetime.date(1945, 7, 25), 'Staten Island'),
 (2, 'Clifton Blackwell', '310892761', datetime.date(1951, 11, 1), 'Queens'),
 (3, 'Barbara Mroz', '8975867', datetime.date(1984, 8, 17), 'Bronx'),
 (4, 'Robert Patterson', '728574', datetime.date(1962, 8, 14), 'Brooklyn'),
 (5, 'Jason Jones', '607255', datetime.date(1988, 3, 4), 'Queens'),
 (6, 'David Moore', '7794266', datetime.date(1904, 3, 22), 'Manhattan'),
 (7, 'Amy Mcvey', '032044661', datetime.date(1942, 12, 7), 'Brooklyn'),
 (8, 'Julie Arterburn', '2505625', datetime.date(2006, 7, 5), 'Bronx'),
 (9, 'Marie Williams', '397269876', datetime.date(1921, 9, 20), 'Brooklyn'),
 (10, 'Linda Peterson', '13651', datetime.date(1997, 7, 19), 'Staten Island')]

## Create several demo Feels

In [167]:
# Example:
# User 1 likes restaurant with rid: 0,3,5,16,34,57
# User 1 dislike restaurant with rid: 1,2,67
add_feel(connection, 1, [0,3,5,16,34,57] + [1,2,67], ['Like']*6+['Dislike']*3)

# User 3 likes restaurant with rid 0,3
add_feel(connection, 3, [0,3], ['Like']*2)

# User 8 likes restaurant with rid 3, 17
# User 8 dislikes restaurant with rid 0, 5
add_feel(connection, 8, [3,17,0,5], ['Like']*2+['Dislike']*2)

In [168]:
%%sql
SELECT *
FROM Feel

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
15 rows affected.

[(1, 0, 'Like'),
 (1, 3, 'Like'),
 (1, 5, 'Like'),
 (1, 16, 'Like'),
 (1, 34, 'Like'),
 (1, 57, 'Like'),
 (1, 1, 'Dislike'),
 (1, 2, 'Dislike'),
 (1, 67, 'Dislike'),
 (3, 0, 'Like'),
 (3, 3, 'Like'),
 (8, 3, 'Like'),
 (8, 17, 'Like'),
 (8, 0, 'Dislike'),
 (8, 5, 'Dislike')]

## Create 10 or more demo reviews

In [173]:
best_reviews = 'This is an extremely good review'
good_reviews = 'This is a good review'
bad_reviews = 'This is a bad review'
worst_reviews = 'This is a extremely bad review'
# User 1 write reviews
add_reviews(connection, 1, 0, best_reviews)
add_reviews(connection, 1, 3, good_reviews)
add_reviews(connection, 1, 16, best_reviews)
# A User can write multiple reviews for multiple restaurants
add_reviews(connection, 1, 0, good_reviews)
add_reviews(connection, 1, 3, best_reviews)
add_reviews(connection, 1, 16, good_reviews)
# User 4 write reviews
add_reviews(connection, 4, 27, good_reviews)
add_reviews(connection, 4, 57, best_reviews)
# User 8 write reviews
add_reviews(connection, 8,3, good_reviews)
add_reviews(connection, 8, 17, bad_reviews)
add_reviews(connection, 8,0, bad_reviews)
add_reviews(connection, 8, 5, worst_reviews)
add_reviews(connection, 8, 88, good_reviews)

In [174]:
%%sql
--DELETE FROM Reviews_Post_Own *;
SELECT *
FROM Reviews_Post_Own

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
13 rows affected.

[(19, 'This is an extremely good review', datetime.date(2022, 10, 18), 1, 0),
 (20, 'This is a good review', datetime.date(2022, 10, 18), 1, 3),
 (21, 'This is an extremely good review', datetime.date(2022, 10, 18), 1, 16),
 (22, 'This is a good review', datetime.date(2022, 10, 18), 1, 0),
 (23, 'This is an extremely good review', datetime.date(2022, 10, 18), 1, 3),
 (24, 'This is a good review', datetime.date(2022, 10, 18), 1, 16),
 (25, 'This is a good review', datetime.date(2022, 10, 18), 4, 27),
 (26, 'This is an extremely good review', datetime.date(2022, 10, 18), 4, 57),
 (27, 'This is a good review', datetime.date(2022, 10, 18), 8, 3),
 (28, 'This is a bad review', datetime.date(2022, 10, 18), 8, 17),
 (29, 'This is a bad review', datetime.date(2022, 10, 18), 8, 0),
 (30, 'This is a extremely bad review', datetime.date(2022, 10, 18), 8, 5),
 (31, 'This is a good review', datetime.date(2022, 10, 18), 8, 88)]

### Test Weak-Entitiness of Reviews

In [101]:
add_reviews(connection, 1, 2, 'This is a bad restaurant')

In [107]:
%%sql
SELECT *
FROM Reviews_Post_Own

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(1, 'This is a bad restaurant', datetime.date(2022, 10, 18), 1, 2)]

In [108]:
%%sql
Delete from Users where userid=1

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[]

In [109]:
%%sql
SELECT *
FROM Reviews_Post_Own

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
0 rows affected.

[]

# Interesting SQL Queries

Find the "Doing Business As" (i.e. acronym) of restaurants, along with their 'rid', that are in 'Manhattan' and have rating levels of 'A' (no duplicates).

In [215]:
%%sql
SELECT R.rid, R.dba
FROM Restaurant AS R, Graded as GR, Grade as G
WHERE R.rid=GR.rid AND GR.gid=G.gid AND G.grade='A'
INTERSECT
SELECT R.rid, R.dba
FROM Restaurant AS R JOIN Locations as L on R.lid=L.lid
WHERE L.district='Manhattan'

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
9 rows affected.

[(16, 'CARIBBEAN STARR'),
 (23, 'LARRY FLYNT"S HUSTLER CLUB'),
 (3, 'THE JEFFREY'),
 (77, 'SPEEDY"S DELI'),
 (43, 'SERGIMMO'),
 (19, 'RESERVE CUT'),
 (73, 'ELLIES CHINESE RESTAURANT'),
 (6, 'SOHO PARK'),
 (75, 'HER NAME IS HAN')]

Find the distribution of inspection types, that is, find the total number of inspections for each inspection type. The final results should be ordered in descending order depends on the total number of inspections for each type. The output of this query should be several rows with two columns (i_type, count).

In [192]:
%%sql
select I.i_type, count(*) as count
from inspection as I, inspect as IR, restaurant as R
where I.iid = IR.iid AND R.rid = IR.rid
Group by I.i_type
ORDER BY count(*) DESC

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
8 rows affected.

[('Cycle Inspection / Initial Inspection', 35),
 ('Unknown Inspection Type', 35),
 ('Cycle Inspection / Re-inspection', 16),
 ('Pre-permit (Operational) / Initial Inspection', 5),
 ('Administrative Miscellaneous / Initial Inspection', 3),
 ('Pre-permit (Operational) / Re-inspection', 3),
 ('Pre-permit (Non-operational) / Re-inspection', 1),
 ('Smoke-Free Air Act / Initial Inspection', 1)]

Find the "Doing Business As" (i.e. acronym) of restaurants, along with their 'rid' and total number of positive reviews, which have the highest number of positive reviews (assume there is no tie). For simplicity here, a review is positive if it contains the word 'good'. (We do not consider restaurant without reviews) The output of this query should be a single row with three columns.

In [12]:
%%sql
SELECT R.rid, R.dba, COUNT(*)
FROM Restaurant AS R, Reviews_Post_Own AS REV
WHERE R.rid=REV.rid AND REV.content LIKE '%good%'
GROUP BY R.rid, R.dba
ORDER BY COUNT(*) DESC
LIMIT 1

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(3, 'THE JEFFREY', 3)]

# Check tables

In [14]:
%%sql
SELECT *
FROM Restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
99 rows affected.

[(0, 'B & B BAGELS', '9172620878', 'No descriptions are provided.', 0),
 (1, 'TWINS PUB', '2126431688', 'Irish', 1),
 (2, 'Seven Bridges', '7186430664', 'No descriptions are provided.', 2),
 (3, 'THE JEFFREY', '2123552337', 'American', 3),
 (4, 'THE BOIL', '2129258815', 'Seafood', 4),
 (5, 'BLUE CAFE RESTAURANT & BAR', '7183960717', 'Spanish', 5),
 (6, 'SOHO PARK', '2122192129', 'American', 6),
 (7, 'STARBUCKS COFFEE', '7183351957', 'Coffee/Tea', 7),
 (8, 'Blue Marble Ice Cream', '9176281150', 'No descriptions are provided.', 8),
 (9, 'BEST DELI', '7187683289', 'American', 9),
 (10, 'Unknown', '6465338876', 'No descriptions are provided.', 10),
 (11, 'VIXENS', '7188217222', 'American', 11),
 (12, 'WICKED JANE', '9734777192', 'No descriptions are provided.', 12),
 (13, 'BLUESTONE LANE', '6463218563', 'Australian', 13),
 (14, 'GINGER & LEMONGRASS LES', '6468761237', 'Southeast Asian', 14),
 (15, 'CAMPAGNA QUATTRO GATTI', '2125701073', 'Italian', 15),
 (16, 'CARIBBEAN STARR', '9172617668', 'Caribbean', 16),
 (17, 'DANNY"S CAFE CORP', '9177447521', 'American', 17),
 (18, 'Unknown', '3473226782', 'No descriptions are provided.', 18),
 (19, 'RESERVE CUT', '2127470300', 'Jewish/Kosher', 19),
 (20, 'COASTAL MARKET', '5166332021', 'No descriptions are provided.', 20),
 (21, 'Unknown', '3474765055', 'No descriptions are provided.', 21),
 (22, 'LECHONERA & POLLO SABROSO RESTAURANT', '3472714642', 'Spanish', 22),
 (23, 'LARRY FLYNT"S HUSTLER CLUB', '2122472460', 'American', 23),
 (24, 'PANADERIA LOS 3 REYES', '3475000751', 'Bakery Products/Desserts', 24),
 (25, 'TINA"S CUBAN CUISINE', '2126793500', 'Latin American', 25),
 (26, 'LOWLANDS BAR', '3474639458', 'American', 26),
 (27, 'HARLEM HOOKAH', '6469129905', 'American', 27),
 (28, 'LOK HIN', '7184024171', 'Chinese', 28),
 (29, 'FORUM BUILDING PANTRY', '7189136408', 'No descriptions are provided.', 29),
 (30, 'PAMIR KABAB HOUSE & GRILL', '7185207232', 'Mediterranean', 30),
 (31, 'KORONET PIZZA', '6467670424', 'Pizza', 31),
 (33, 'WOORI NOODLE HOUSE', '7188198083', 'Korean', 33),
 (34, 'HAVE & MEYER CHATTERIA', '7184190722', 'Italian', 34),
 (35, 'HALF MOON', '7183735862', 'Hotdogs/Pretzels', 35),
 (36, 'K-TOWN FOOD COURT', '7182291480', 'Korean', 36),
 (37, 'Unknown', '9177709055', 'No descriptions are provided.', 37),
 (38, 'Unknown', '3474277948', 'No descriptions are provided.', 38),
 (39, 'Unknown', '4074671635', 'No descriptions are provided.', 39),
 (40, 'NEW CHENG"S ORIENTAL EXPRESS', '7184456888', 'Chinese', 40),
 (41, 'THE GATHER INN AGAIN', '7185136245', 'Irish', 41),
 (42, 'Z-TWO DINER & LOUNGE', '7183566800', 'American', 42),
 (43, 'SERGIMMO', '9173539808', 'Italian', 43),
 (44, 'COCOA', '2129828005', 'Coffee/Tea', 44),
 (45, 'ASIAN JEWELS SEAFOOD RESTAURANT', '7183598600', 'Chinese', 45),
 (46, 'GREAT JONES DISTILLERY', '3475043762', 'No descriptions are provided.', 46),
 (47, 'APPLE TREE GOURMET', '6464410803', 'American', 47),
 (48, 'CLINTON HALL BROOKLYN', '9178630047', 'No descriptions are provided.', 48),
 (49, 'GIGI"S COFFEE HOUSE', '3477420185', 'No descriptions are provided.', 49),
 (50, 'Unknown', '3475645057', 'No descriptions are provided.', 50),
 (51, 'BANTRY BAY PUBLICK HOUSE', '7187849500', 'Irish', 51),
 (52, 'BORSALIA', '9292147192', 'No descriptions are provided.', 52),
 (53, 'MARI', '2018931848', 'No descriptions are provided.', 53),
 (54, 'MACHI MACHI', '5165192225', 'No descriptions are provided.', 54),
 (55, 'FAILTE', '2127259440', 'Irish', 55),
 (56, 'MAISON PICKLE', '2126712711', 'American', 56),
 (57, 'NEW HAPPY JOY CHINESE KITCHEN', '2123075215', 'Chinese', 57),
 (58, 'Freckle"s Juice', '6463597105', 'No descriptions are provided.', 58),
 (59, 'JK & SONS COFFEE SHOP', '7187822366', 'American', 59),
 (60, 'COFFEE AT', '2126971463', 'No descriptions are provided.', 60),
 (61, 'LOS POLLITOS III', '7186366125', 'Mexican', 61),
 (62, 'DOMINO"S', '7182214800', 'Pizza', 62),
 (63, 'BANGKOK BAR', '6469546594', 'Thai', 63),
 (64, 'HAKATA TONTON', '3478026443', 'No descriptions are provided.', 64),
 (65, 'Unknown', '9172462036', 'No descriptions are provided.', 65),
 (66, 'INTERNATIONAL CATERERS', '7188922989', 'American', 66),
 (67, 'Unknown', '9172727475', 'No descriptions are provided.', 67),
 (68, 'HUA RONG', '7187601027', 'Chinese', 68),
 (69, 'Unknown', '7188294400', 'No descriptions are provided.', 69),
 (70, 'COFFEE BROS.', '9145986495', 'No descriptions are provided.', 70),
 (71, 'LUCKY GRAND BAKERY', '2122198434', 'Chinese', 71),
 (72, 'MERIT DELI', '7187061133', 'Sandwiches', 72),
 (73, 'ELLIES CHINESE RESTAURANT', '9176693878', 'Chinese', 73),
 (74, 'Unknown', '9294219987', 'No descriptions are provided.', 74),
 (75, 'HER NAME IS HAN', '2127799990', 'Korean', 75),
 (76, 'THE MASALAWALA', '9737277160', 'No descriptions are provided.', 76),
 (77, 'SPEEDY"S DELI', '2126838997', 'American', 77),
 (78, 'Unknown', '9175399498', 'No descriptions are provided.', 78),
 (79, 'GABRIEL"S BAR & RESTAURANT', '9175392844', 'No descriptions are provided.', 79),
 (80, 'TINY"S DINER', '7187087600', 'American', 80),
 (81, 'FRIEDMAN"S', '9173593432', 'No descriptions are provided.', 81),
 (82, 'SOFRA', '7187087646', 'Greek', 82),
 (83, 'JADE GARDEN', '2127950556', 'Chinese', 83),
 (84, 'DTUT', '2124106449', 'American', 84),
 (85, 'Unknown', None, 'No descriptions are provided.', 85),
 (86, 'TABATA NOODLE RESTAURANT', '2122907681', 'Japanese', 86),
 (87, 'LECHONERA EL FOGON', '9177925976', 'Spanish', 87),
 (88, 'ROSA MEXICANO', '6467853798', 'No descriptions are provided.', 88),
 (89, 'Unknown', '7182338328', 'No descriptions are provided.', 89),
 (90, 'PEKING EXPRESS', '7182063333', 'Chinese', 90),
 (91, 'CHICKENOPIA', '2035125288', 'No descriptions are provided.', 91),
 (92, 'NY SWEET SPOT CAFE', '7183361601', 'Eastern European', 92),
 (93, 'CROWN FRIED CHICKEN', '2129962651', 'Chicken', 93),
 (94, 'ANDREA"S RESTAURANT', '7182933800', 'Latin American', 94),
 (95, 'COLD CUT CITY BUNNY DELI 2', '7185432533', 'American', 95),
 (96, 'BENTON', '7183923686', 'Japanese', 96),
 (97, 'DESERT RAIN LOUNGE', '7188801854', 'American', 97),
 (98, 'HONEST RESTAURANT, KWALITY ICE CREAM', '5167849844', 'Indian', 98),
 (99, 'ZAUO', '6469052274', 'Japanese', 99)]