# Installations & Setup

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import os
GOOGLE_DRIVE_PATH_AFTER_MYDRIVE = "Github"
GOOGLE_DRIVE_PATH = os.path.join('drive', 'My Drive', GOOGLE_DRIVE_PATH_AFTER_MYDRIVE)
print(os.listdir(GOOGLE_DRIVE_PATH))

Mounted at /content/drive
['NYC-Restaurant-Inspection-Database']

In [3]:
import sys
sys.path.append(GOOGLE_DRIVE_PATH)
import time, os
os.environ["TZ"] = "US/Eastern"
time.tzset()

## Install packages

In [4]:
!pip install icecream
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql # SQL magic function

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting icecream
  Downloading icecream-2.1.3-py2.py3-none-any.whl (8.4 kB)
Collecting executing>=0.3.1
  Downloading executing-1.1.1-py2.py3-none-any.whl (22 kB)
Collecting asttokens>=2.0.1
  Downloading asttokens-2.0.8-py2.py3-none-any.whl (23 kB)
Collecting colorama>=0.3.9
  Downloading colorama-0.4.5-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pygments>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from icecream) (2.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from asttokens>=2.0.1->icecream) (1.15.0)
Installing collected packages: executing, colorama, asttokens, icecream
Successfully installed asttokens-2.0.8 colorama-0.4.5 executing-1.1.1 icecream-2.1.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (5.0.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3.post0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.9.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.5 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.3.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.1

# Github Control Setup

## Redirect to root folder (Necessary when starting Colab runtime)

In [5]:
%cd /content/drive/MyDrive/Github/

/content/drive/MyDrive/Github

## Only run once upon initializing Colab runtime

### Xiaoyang Song

In [6]:
username = "Xiaoyang-Song"
repository = "NYC-Restaurant-Inspection-Database"
git_token = "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"

### Han Liu

In [7]:
# username = "Xiaoyang-Song"
# repository = "NYC-Restaurant-Inspection-Database"
# git_token = "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"

### Connect to Github

In [8]:
!git clone https://{git_token}@github.com/{username}/{repository}

fatal: destination path 'NYC-Restaurant-Inspection-Database' already exists and is not an empty directory.

## Run to direct to Git Repo

In [9]:
%cd {repository}

/content/drive/MyDrive/Github/NYC-Restaurant-Inspection-Database

In [10]:
%ls -a

 4111p1.ipynb   extract_data.py   p1.SQL                      README.md
 Data/          .git/            'Proposal Final Draft.pdf'   utils.py
 .DS_Store      .gitignore        __pycache__/

In [11]:
!git config --global user.email "xs2485@columbia.edu"

In [12]:
!git pull

remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (5/5), done.
remote: Total 6 (delta 5), reused 5 (delta 5), pack-reused 1
Unpacking objects: 100% (6/6), done.
From https://github.com/Xiaoyang-Song/NYC-Restaurant-Inspection-Database
   9ae3f10..4cf0f47  main       -> origin/main
Updating 9ae3f10..4cf0f47
Fast-forward
 .DS_Store                        | Bin 6148 -> 8196 bytes
 __pycache__/utils.cpython-39.pyc | Bin 877 -> 877 bytes
 extract_data.py                  |  10 ++++++----
 3 files changed, 6 insertions(+), 4 deletions(-)

## Commit Message

In [ ]:
commit_message = "Project 1 extract fix bug"

## Run to commit and push

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   4111p1.ipynb
	modified:   __pycache__/extract_data.cpython-37.pyc
	modified:   extract_data.py

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
!git add .

In [ ]:
!git commit -m "{commit_message}"

[main 9ae3f10] Project 1 extract fix bug
 3 files changed, 2 insertions(+), 2 deletions(-)
 rewrite 4111p1.ipynb (93%)

In [ ]:
!git push

Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 5.22 KiB | 667.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delta 0)
remote: Resolving deltas: 100% (5/5), completed with 5 local objects.
To https://github.com/Xiaoyang-Song/NYC-Restaurant-Inspection-Database
   ec56260..9ae3f10  main -> main

# 4111 Project 1

## Connect to DBMS

### Load and connect

In [13]:
%load_ext sql

In [14]:
%sql postgresql://xs2485:Sxy20000425@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

'Connected: xs2485@proj1part2'

In [15]:
# change your password
%%sql ALTER ROLE xs2485 
WITH PASSWORD 'Sxy20000425';

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [16]:
from sqlalchemy import create_engine
db = create_engine("postgresql://xs2485:Sxy20000425@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2")
connection = db.connect()  # first connect to the database

In [17]:
cursor = connection.execute("select 1")  # run a query.  it does not return the actual rows.  it returns a cursor
rows = cursor.fetchall()  # ask cursor to give us all the result rows
print(rows)

[(1,)]

### Sample Code

In [18]:
# create table
%%sql CREATE TABLE R (
    A int,
    B int
);
INSERT INTO R VALUES (1,2);
INSERT INTO R VALUES (3,4);

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
1 rows affected.
1 rows affected.

[]

In [19]:
# see table R
%sql SELECT * FROM R;

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
2 rows affected.

[(1, 2), (3, 4)]

In [20]:
# see all the tables you have
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='xs2485'

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
14 rows affected.

[('xs2485', 'r', 'xs2485', None, False, False, False, False),
 ('xs2485', 'inspection', 'xs2485', None, True, False, True, False),
 ('xs2485', 'grade', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violation', 'xs2485', None, True, False, True, False),
 ('xs2485', 'users', 'xs2485', None, True, False, True, False),
 ('xs2485', 'reviews_post_own', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locations', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locates', 'xs2485', None, True, False, True, False),
 ('xs2485', 'feel', 'xs2485', None, True, False, True, False),
 ('xs2485', 'restaurant', 'xs2485', None, True, False, True, False),
 ('xs2485', 'graded', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspect', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violate', 'xs2485', None, True, False, True, False),
 ('xs2485', 'find', 'xs2485', None, True, False, True, False)]

In [21]:
# drop table
%sql DROP TABLE R;

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

## Create Tables

In [ ]:
%%sql
--DROP TABLE 
CREATE TABLE IF NOT EXISTS Users(
    userid serial PRIMARY KEY,
    account_name text NOT NULL,
    passcode text NOT NULL,
    dob date,
    district text,
    CHECK (
        district IN ('Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island')
    )
);
CREATE TABLE IF NOT EXISTS Restaurant(
    rid serial PRIMARY KEY,
    DBA text NOT NULL, -- DBA stands for "Doing Business As" (Acronym)
    phone_number VARCHAR(10), 
    cuisine text
);

-- Entity: Grade
CREATE TABLE IF NOT EXISTS Grade(
    gid serial PRIMARY KEY,
    grade CHAR(1) NOT NULL,
    score float,
    CHECK (
        grade in ('A', 'B', 'C', 'P', 'Z')
    )
);
-- Entity: Inspection
CREATE TABLE IF NOT EXISTS Inspection(
    iid serial PRIMARY KEY,
    i_type text
);

-- Entity: Violation
CREATE TABLE IF NOT EXISTS Violation(
    vid serial PRIMARY KEY,
    code text,
    v_description text,
    critical_flag text,
    CHECK (
        critical_flag IN ('Critical', 'Not Critical', 'Not Applicable')
    )
);

-- Entity: Locations
CREATE TABLE IF NOT EXISTS Locations(
    lid serial PRIMARY KEY,
    district text,
    zipcode VARCHAR(5),
    street text,
    building text,
    CHECK (
        district IN ('Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island')
    )
);
-- Combine relationship sets and entity sets to model weak entity
CREATE TABLE IF NOT EXISTS Reviews_Post_Own(
    rev_id serial PRIMARY KEY,
    content text NOT NULL,
    post_time DATE,
    userid int NOT NULL,
    rid int NOT NULL,
    FOREIGN KEY (userid) REFERENCES Users ON DELETE CASCADE,
    FOREIGN KEY (rid) REFERENCES Restaurant ON DELETE CASCADE
);

-- Relationship sets
CREATE TABLE IF NOT EXISTS Locates(
    rid int PRIMARY KEY REFERENCES Restaurant,
    lid int NOT NULL REFERENCES Locations
);

-- Relationship sets: note that when translating to relational schema
-- We combine Like and Dislike into Feel to make things more efficient
CREATE TABLE IF NOT EXISTS Feel(
    userid int NOT NULL,
    rid int NOT NULL,
    feel text NOT NULL,
    PRIMARY KEY (userid, rid),
    FOREIGN KEY (userid) REFERENCES Users,
    FOREIGN KEY (rid) REFERENCES Restaurant,
    CHECK (
        feel IN ('Like', 'Dislike')
    )
);

-- Relationship set: Graded
CREATE TABLE IF NOT EXISTS Graded(
    rid int NOT NULL,
    gid int NOT NULL,
    g_time DATE,
    PRIMARY KEY (rid, gid),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (gid) REFERENCES Grade
);

-- Relationship Set: Inspect
CREATE TABLE IF NOT EXISTS Inspect(
    rid int NOT NULL,
    iid int NOT NULL,
    i_time DATE,
    PRIMARY KEY (rid, iid),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (iid) REFERENCES Inspection
);

-- Relationship Set: Violate
CREATE TABLE IF NOT EXISTS Violate(
    rid int NOT NULL,
    vid int NOT NULL,
    PRIMARY KEY (rid, vid),
    FOREIGN KEY (rid) REFERENCES Restaurant,
    FOREIGN KEY (vid) REFERENCES Violation
);

-- Relationship Set: Found
CREATE TABLE IF NOT EXISTS Find(
    iid int NOT NULL,
    vid int NOT NULL,
    PRIMARY KEY (iid, vid),
    FOREIGN KEY (iid) REFERENCES Inspection,
    FOREIGN KEY (vid) REFERENCES Violation
);

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Check content

In [ ]:
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='xs2485'

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
13 rows affected.

[('xs2485', 'inspection', 'xs2485', None, True, False, True, False),
 ('xs2485', 'grade', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violation', 'xs2485', None, True, False, True, False),
 ('xs2485', 'users', 'xs2485', None, True, False, True, False),
 ('xs2485', 'reviews_post_own', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locations', 'xs2485', None, True, False, True, False),
 ('xs2485', 'locates', 'xs2485', None, True, False, True, False),
 ('xs2485', 'feel', 'xs2485', None, True, False, True, False),
 ('xs2485', 'restaurant', 'xs2485', None, True, False, True, False),
 ('xs2485', 'graded', 'xs2485', None, True, False, True, False),
 ('xs2485', 'inspect', 'xs2485', None, True, False, True, False),
 ('xs2485', 'violate', 'xs2485', None, True, False, True, False),
 ('xs2485', 'find', 'xs2485', None, True, False, True, False)]

# Extract data and insert into database

## Examples

In [ ]:
%%sql
delete from restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[]

In [ ]:
%%sql
select * 
from Restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
0 rows affected.

[]

In [ ]:
example = 'hello'
command = f"insert into restaurant(rid, dba, phone_number, cuisine) values (3,'{example}', null, null)"
cursor = connection.execute(command)

In [ ]:
%%sql
select * 
from restaurant
where dba='hello' and rid=3

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(3, 'hello', None, None)]

## Extraction

In [28]:
%%sql
delete from restaurant

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
100 rows affected.

[]

In [ ]:
!git pull

In [24]:
# Data Extraction
from utils import *
from extract_data import *
import pandas as pd

path = '../NYC-Restaurant-Inspection-Database/Data/data.csv'
df = preprocess(path)
df = df.head(100)

In [29]:
from collections import Counter
# Populating Database
nrows, ncols = df.shape
ic(f"Total {nrows} records with {ncols} columns.")
 # Extract columns
R = extract(df, 'Restaurant', 3, ['Unknown'] + (['NULL'] * 2))
L = extract(df, 'Location', 4, ['NULL'] * 4)
# Get R phone_number info
# ic(Counter([len(num) for num in R[:,1]]))

ic| f"Total {nrows} records with {ncols} columns.": 'Total 100 records with 27 columns.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '15 rows have no DBA.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no PHONE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '36 rows have no CUISINE DESCRIPTION.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no BORO.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '1 rows have no BUILDING.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '1 rows have no STREET.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '2 rows have no ZIPCODE.'

In [27]:
# Insert into tables
for i in range(nrows):
  # Entity: Restaurant
  r_dba, r_num, r_cuisine = R[i]
  # Replace all single quote with double quote escape character
  r_dba = np.char.replace(r_dba, '\'', '\"')
  r_cuisine = np.char.replace(r_cuisine, '\'', '\"')
  r_num = np.char.replace(r_num, '_', '').item()
  # Parse and filter out invalid phone number
  r_num = r_num if len(r_num) == 10 else 'NULL'
  r_cmd = f"INSERT INTO restaurant(rid, dba, phone_number, cuisine) values ({i},'{r_dba}', {r_num}, '{r_cuisine}')"
  cursor = connection.execute(r_cmd)

  # Entity: Location

ic| f"Total {nrows} records with {ncols} columns.": 'Total 100 records with 27 columns.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '15 rows have no DBA.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '0 rows have no PHONE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '36 rows have no CUISINE DESCRIPTION.'

IntegrityError: ignored

In [ ]:
L = extract(df, 'Grades', 2, ['NULL'] * 2)
L

ic| f'{sum(mask)} rows have no {colname[i]}.': '690 rows have no SCORE.'
ic| f'{sum(mask)} rows have no {colname[i]}.': '841 rows have no GRADE.'

array([['NULL', 'NULL'],
       [24.0, 'NULL'],
       ['NULL', 'NULL'],
       ...,
       ['NULL', 'NULL'],
       ['NULL', 'NULL'],
       [21.0, 'NULL']], dtype=object)

In [22]:
%%sql
select *
from restaurant
ORDER BY rid ASC
LIMIT 10

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[(0, 'B & B BAGELS', '9172620878', 'NULL'),
 (1, 'TWINS PUB', '2126431688', 'Irish'),
 (2, 'Seven Bridges', '7186430664', 'NULL'),
 (3, 'THE JEFFREY', '2123552337', 'American'),
 (4, 'THE BOIL', '2129258815', 'Seafood'),
 (5, 'BLUE CAFE RESTAURANT & BAR', '7183960717', 'Spanish'),
 (6, 'SOHO PARK', '2122192129', 'American'),
 (7, 'STARBUCKS COFFEE', '7183351957', 'Coffee/Tea'),
 (8, 'Blue Marble Ice Cream', '9176281150', 'NULL'),
 (9, 'BEST DELI', '7187683289', 'American')]

In [ ]:
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point
0,50122596,B & B BAGELS,Manhattan,1370,1 AVENUE,10021.0,9172620878,TOKEN.NA,01/01/1900,TOKEN.NA,...,TOKEN.NA,40.76866,-73.955356,108.0,5.0,12400.0,1045866.0,1014680001.0,MN31,TOKEN.NA
1,40367179,TWINS PUB,Manhattan,421,9 AVENUE,10001.0,2126431688,Irish,07/30/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.753054,-73.996557,104.0,3.0,10300.0,1012848.0,1007310044.0,MN13,TOKEN.NA
2,50111785,Seven Bridges,Brooklyn,249,4 AVENUE,11215.0,7186430664,TOKEN.NA,01/01/1900,TOKEN.NA,...,TOKEN.NA,40.676282,-73.983791,306.0,39.0,13300.0,3020222.0,3009580002.0,BK37,TOKEN.NA
3,50002691,THE JEFFREY,Manhattan,311,EAST 60 STREET,10022.0,2123552337,American,01/13/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.760917,-73.96309,108.0,5.0,11000.0,1044197.0,1014350008.0,MN31,TOKEN.NA
4,41684054,THE BOIL,Manhattan,139,CHRYSTIE STREET,10002.0,2129258815,Seafood,04/11/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.719595,-73.993099,103.0,1.0,1800.0,1005665.0,1004240028.0,MN27,TOKEN.NA